body {
  min-height: 100vh;
  background-color: #121212;
  color: whitesmoke;
  background: linear-gradient(180deg, #000000, #002B36) no-repeat;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  padding-top: 120px;
  margin: 0 !important;
  /* This ensures content starts below the fixed navbar */
}

.navbar {
  background-color: #003B46 !important;
  opacity: 0.95;
  margin-top: 20px;
  padding: 10px 20px;
  border-bottom: 3px solid #00FFFF;
  box-shadow: 0px 5px 15px rgba(0, 255, 255, 0.3);
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}

.bg-body-tertiary {
  background-color: #003B46 !important;
}

.container-fluid {
  padding: 0 20px !important;
  width: 100% !important;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}

.navbar:hover {
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.8);
}

.container {
  margin-top: 20px;

}


.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}


.tablestyle {
  border: 2px solid #00FFFF !important;
  border-radius: 10px !important;
  background-color: #002B36 !important;
  box-shadow: 0px 5px 15px rgba(0, 255, 255, 0.3) !important;
  padding: 20px !important;
  width: 50% !important;
  border-collapse: separate !important;
  border-spacing: 30px 15px !important;
}

.table-container {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
}